CompileFlags:
  Compiler: clang
  Add:
    - -xc++
    - -ferror-limit=0
    - -DReaWindows
    - -DREA_INTERNAL
    - -DREA_DIAGNOSTICS
    - -Wall
    - -Wno-c++17-extensions
    - -Wno-switch
    - -Wno-writable-strings
    - -Wunused-parameter
    - -Wunused-variable
    - -Wno-unused-function
    - -Wno-pointer-to-int-cast
    - -Wno-tautological-constant-out-of-range-compare