# note: clang compile command is run in the same dir as the source
CompileFlags:
  Compiler: clang
  Add:
    - -I../libs
    - -xc++
    - -ferror-limit=0
    - -DReaWindows
    - -DREA_INTERNAL
    - -DREA_DIAGNOSTICS
    - -Wall
    - -Wno-c++17-extensions
    - -Wno-switch
    - -Wno-writable-strings
    - -Wunused-parameter
    - -Wunused-variable
    - -Wno-unused-function
    - -Wno-pointer-to-int-cast